@model (List<Practice.Client.Product> Products, double Sum)
@{
    var products = Model.Products;
    var sum = Model.Sum;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Покупка товаров</title>
</head>
<body>
<div>
    <h3>Товары в категориях: машины, наушники. </h3>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Цена</th>
            <th>Категория</th>
        </tr>
        <tbody>
        @foreach (var product in products)
        {
            <tr>
                <td>
                    <p>@product.Id</p>
                </td>
                <td>
                    <p>@product.Name</p>
                </td>
                <td>
                    <p>@product.Price</p>
                </td>
                <td>
                    <p>@product.Category</p>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<h4> Выберите товары для покупки </h4>
<form method="post">
    @foreach (var product in products)
    {
        <input type="checkbox" id="@product.Id" name="productsId" value=@product.Id />
        <label for="@product.Id">@product.Name (id продукта = @product.Id)</label>
        <div class="selects">
            <input type="number" value="0" id="@product.Id" min="0" name="productsCount"/>
        </div>
        <br>
    }
    <input type="submit" class="btn btn-warning" value="Calculate"/>
</form>
@if (sum > 0)
{
    <p>Total price: @sum</p>
    <button type="submit" onclick="location.href='@Url.Action("BuyShopping", "Home")'">Buy</button>
}
</body>