@model (ShopMVC.Models.SomeModel someModel, double Sum)

@{
    var reports = Model.someModel;
    var sum = Model.Sum;
}

<div class="text-center">
    <table class="table">
        @foreach (var order in reports.Orders)
        {
            if (order.Id == reports.OrderId)
            {
                @foreach (var person in reports.Persons)
                {
                    if (person.Id == order.PersonId)
                    {
                        <tr>
                            <td><p>Name: @person.Name</p></td>
                            <td><p>Email: @person.Email</p></td>
                            <td><p></p></td>
                            <td><p></p></td>
                            <td><p></p></td>
                        </tr>
                    }
                }
            }
        }
    </table>
    <table class="table">
        <thead>
        <th><p></p></th>
        <th><p>Name</p></th>
        <th><p>Category</p></th>
        <th><p>Count</p></th>
        <th><p>Price</p></th>
        </thead>
        <tbody>
            @foreach (var order in reports.Orders)
            {
                @foreach (var payment in reports.Payments)
                {
                    if (order.Id == reports.OrderId)
                    {
                        @foreach (var product in reports.Products)
                        {
                            @foreach (var person in reports.Persons)
                            {
                                if (payment.OrderId == order.Id && payment.ProductId == product.Id)
                                {
                                    if (order.PersonId == person.Id)
                                    {
                                        <tr>
                                            <td><p></p></td>
                                            <td><p>@product.Name</p></td>
                                            <td><p>@product.Category</p></td>
                                            <td><p>@payment.Count</p></td>
                                            <td><p>@product.Price $</p></td>
                                        </tr>
                                    }
                                }
                            }
                        }
                    }
                }
            }
            <tr>
                <td><p></p></td>
                <td><p></p></td>
                <td><p></p></td>
                <td><p></p></td>
                <td><p>Total price: @sum $</p></td>
            </tr>
        </tbody>
    </table>

</div>
