@model (ShopMVC.Models.SomeModel someModel, Practice.Client.Order Order, Practice.Client.Person Person, double Sum)

@{
    Layout = "_LayoutAdmin";
    var reports = Model.someModel;
    var order = Model.Order;
    var person = Model.Person;
    var sum = Model.Sum;
}

<div class="text-center">
    <table class="table">
        <tr>
            <td><p>Name: @person.Name</p></td>
            <td><p>Email: @person.Email</p></td>
            <td><p></p></td>
            <td><p></p></td>
            <td><p></p></td>
        </tr>
    </table>
    <table class="table">
        <thead>
        <th><p></p></th>
        <th><p>Name</p></th>
        <th><p>Category</p></th>
        <th><p>Count</p></th>
        <th><p>Price</p></th>
        </thead>
        <tbody>
                @foreach (var payment in reports.Payments)
                {
                    foreach (var product in reports.Products)
                    {
                        if (payment.OrderId == order.Id && payment.ProductId == product.Id && order.PersonId == person.Id)
                        {
                            <tr>
                                <td><p></p></td>
                                <td><p>@product.Name</p></td>
                                <td><p>@product.Category</p></td>
                                <td><p>@payment.Count</p></td>
                                <td><p>@product.Price $</p></td>
                            </tr>
                        }
                    }
                }

            <tr>
                <td><p></p></td>
                <td><p></p></td>
                <td><p></p></td>
                <td><p></p></td>
                <td><p>Total price: @sum $</p></td>
            </tr>
        </tbody>
    </table>

</div>
